body{
background-color: #f0f2f5;  

}
*{
    padding: 0;
    margin: 0;
}
.login-contener{
    height: 455px ;
    width: 450px;
    display: block;
    margin-left: 450px;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 130px;
     padding: 20px;
     border-radius: 20px;
     box-shadow: 0px 0px 10px 0px;
    font-family: system-ui;  
}
.input-box{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: 30px;
}
.login-input{
    height: 40px;
    width: 250px;
    margin-top: 15px;
    border: none;
    text-align: start;
    text-decoration: none;
    border-bottom: 1px solid black ;
    background-color:#f0f2f5;
}
.img-div{
    display: flex;
    justify-content: center;
}
.img{
    height: 80px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid black;

}
.bg-img {
    background-image: url("./Image/login-img-1.jpg");
  
    
    border: 1px solid #efebec;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
   
}
