/* import img from './../Image/pizza.jpg'; */
.homeImg{
    background-image:url(./../Home/Image/pizza.jpg) ;
    /* background-image: linear-gradient( black,red), url(./../Home/Image/pizza.jpg); */
    /* opacity: 0.7; */
    height: 45vw;
    width: 100vw;
    background-size: cover;
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    /* overflow-x: scroll; */
}

