.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.images{
    height: 200px;

    width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px;
}
.img{
    height: 350px;
    width: 350px;
    margin-left: 25px;
    margin-top: 5px;
    padding: 5px;

}
.center{
    text-align: center;
  
}
.text{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 70px;
}
.front-text{
    margin-left: 30px;
}
.green{
    color: rgb(45, 110, 45);

}
.brown{
  color: rgb(242, 35, 35);
  font-size: 80px;
}

