.about-main{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: row;

   
    margin: 50px;
    box-shadow: 2px 4px 4px 5px lightgrey;
    width: 900px;
    border-radius: 20px;
}
.about-img{
    height: 400px;
    width: 500px;
    margin: 20px;
    border-radius: 20px;
}
.heading{
    color: rgb(201, 52, 99);
   margin-top: 100px;

   
   
}
.quote{
   margin-bottom: 20px;
}
.text-about{
   margin-bottom:50px;
}

@media screen and (max-width:600px) {
    .about{
        flex-wrap: wrap;
        width: 300px;
        height: 600px;
        margin: 20px;
    }
    .about-img{
        width: 260px;
        height: 230px;
    }
    .heading{
        margin-top: 20px;
        margin-left: 10px;
    }
    .quote{
        margin-left: 10px;
    }
    .text-about{
        margin-left: 10px; 
    }
    .button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom:20px;
    }

}