.categoryimg{
    /* height: 370px;
    width: 370px; */
    border-radius: 50%;
    text-align: center;
}

.categoryimg img{
    height:170px;
    width: 170px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 5px 6px 18px 0px;
}