.f{
    border: 1px solid black;
}
.btncontact{
    background-color: #910c36;
    color: white;
    border: none;
    padding: 7px;
   border-radius: 5px;
    font-size: 18px;
  
}
.contactbtn:hover{
    background-color: #910c36;
    color: white;
  

}
.touch , .contactt{
    color:  #910c36; ;
}